@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: local('JetBrains Mono'), url('/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
  src: local('JetBrains Mono'), url('/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

:root {
	--max-width: 100ch;

	--line: #1b1e22;

	--color: #1b1e22;
	--color-inactive: #666;
	--color-em: #000;
	--color-em-shadow: rgba(0,0,0,0.5);

	--color-secondary: #5865f2;

	--bg: #fff;
	--bg-code: #f9f9f9;
	--bg-btn: #fff;
	--bg-inactive: #e6e6e6;
	--bg-gold: linear-gradient(135deg,#fff7dc 0 60%, #ffd700 70%);
	--bg-silver: linear-gradient(135deg,#f6f7f8 0 60%, #c8c8c8 70%);

	--p-link: #5865f2;
	--p-link-hover: #8791f6;
}

html.dark {
	--line: #d0e0f4;

	--color: #d0e0f4;
	--color-inactive: #6b6b6b;
	--color-em: #fff;
	--color-em-shadow: rgba(255,255,255,0.5);

	--bg: #1b1e22;
	--bg-code: #161718;
	--bg-btn: #141617;
	--bg-inactive: #171717;
	--bg-gold: linear-gradient(135deg, #5a3700 0 60%, #d49f00 70%);
	--bg-silver: linear-gradient(135deg,#2b2d30 0 60%, #6e6f72 70%);

	--p-link: #5865f2;
	--p-link-hover: #8791f6;
}

body, div, pre, code, span, em, .topnav a, .leftmenu a, input, button, header, nav, aside, section, article {
	--td: 0.2s;
	transition: color var(--td), background-color var(--td), border-color var(--td), box-shadow var(--td);
}

.secondary-color {
	color: var(--color-secondary);
}

.dark-switch {
	display: inline-flex;
	align-items: center;
	margin-left: 0.6rem;
}

.dark-switch input {
	display: none;
}

.dark-switch .switch {
	color: inherit;
	text-decoration: none;
	padding: 0.35rem 0.6rem;
	border: 1px solid var(--line);
	background: var(--bg-btn);
	display: inline-flex;
	align-items: center;
	height: 2rem;
	cursor: pointer;
}

.dark-switch .switch:hover {
	text-decoration: underline;
}

.dark-switch input + .switch {
	background: linear-gradient(135deg,#fff,#ccc);
}

.dark-switch input:checked + .switch {
	background: linear-gradient(135deg,#444,#000);
}

.dark-switch .switch .icon {
	display: inline-block;
	text-align: center;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "JetBrains Mono", "Courier New", ui-monospace, SFMono-Regular, Menlo, Monaco, monospace;
	background: var(--bg);
	color: var(--color);
}

a {
	text-underline-offset: 0.2rem;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.6rem 1rem;
	border-bottom: 2px solid var(--line);
	clip-path: polygon(0 0, calc(100% - 1.2rem) 0, 100% 1.2rem, 100% 100%, 0 100%);
}

.brand {
	font-weight: 800;
}

.brand-link {
	color: inherit;
	text-decoration: none;
}

.brand-link:hover {
	text-decoration: underline;
}

.topnav {
	display: flex;
	gap: 1rem;
	align-items: center;
	flex-wrap: wrap;
	justify-content: right;
}

.topnav a {
	color: inherit;
	text-decoration: none;
	padding: 0.35rem 0.6rem;
	border: 1px solid var(--line);
	background: var(--bg-btn);
	display: inline-flex;
	align-items: center;
	height: 2rem;
}

.topnav a:hover {
	text-decoration: underline;
}

.topnav a.profile {
	display: inline-flex;
	align-items: center;
	gap: 0.4rem;
	padding: 0 0.6rem 0 0;
}

.topnav img {
	width: calc(2rem - 4px);
	height: calc(2rem - 4px);
	margin: 1px;
	object-fit: cover;
	border: 1px solid var(--line);
	display: block;
}

.content {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	flex: 1;
}

.leftmenu {
	order: 2;
	border-left: 2px solid var(--line);
	padding-left: 1rem;
	position: sticky;
	top: 1rem;
	max-height: calc(100vh - 2rem);
}

.leftmenu h1 {
	margin-top: 0;
	font-weight: 800;
}

.leftmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.leftmenu li {
	padding: 0;
	margin: 0;
}

.leftmenu li > a, .leftmenu li > span {
	min-width: 42ch;
	display: flex;
	gap: 3ch;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border: 1px solid var(--line);
	color: inherit;
	text-decoration: none;
	overflow: hidden;
}

.leftmenu li > a:hover span.puzzle-label {
	text-decoration: underline;
}

.leftmenu li.active > a span.puzzle-label {
	text-decoration: underline;
}

.leftmenu li.solved-both > a {
	background: var(--bg-gold);
}

.leftmenu li.solved-both .hint {
	color: var(--color-em);
}

.leftmenu li.solved-both .hint::before {
	content: "✔✔";
	line-height: 1;
}

.leftmenu li.solved-one > a {
	background: var(--bg-silver);
}

.leftmenu li.solved-one .hint {
	color: var(--color-em);
}

.leftmenu li.solved-one .hint::before {
	content: "✔";
	line-height: 1;
}

.leftmenu li.unlocked > a {
	background: var(--bg-btn);
}

.leftmenu li.locked > a {
	background: var(--bg-inactive);
	color: var(--color-inactive);
	border-style: dashed;
	cursor: default;
	pointer-events: none;
}

.leftmenu li.locked > a:hover span.puzzle-label {
	text-decoration: none;
}

.center {
	flex: 1;
	display: flex;
	justify-content: center;
}

article {
	max-width: var(--max-width);
	width: 100%;
	padding: 1rem;
	border: 2px solid var(--line);
	position: relative;
	line-height: 1.5;
	font-size: 1rem;
}

article h1 {
	margin: 0 0 0.25rem 0;
	border-bottom: 1px dashed var(--line);
	font-weight: 800;
}

article h2 {
	margin: 0 0 0.25rem 0;
	font-weight: 800;
}

article p {
	margin: 1rem 0;
}

article ul {
	list-style: none;
	margin-left: 0;
	padding-left: 2ch;
}

article ul li {
	position: relative;
	padding-left: 2ch;
	white-space: pre-wrap;
}

article ul li:before {
	content: "-";
	position: absolute;
	left: 0;
	top: 0;
}

article pre {
	background: var(--bg-code);
	padding: 1ch;
	margin: -1px;
	border: 1px solid var(--line);
	overflow: auto;
	font-family: inherit;
}

article code {
	background: var(--bg-code);
	padding: 1px;
	margin: -2px;
	border: 1px solid var(--line);
	font-family: inherit;
	white-space: pre;
}

article pre code {
	background: transparent;
	padding: 0;
	margin: 0;
	border: 0;
}

article input {
	background: var(--bg-code);
	min-width: 20ch;
	font-family: inherit;
	font-size: inherit;
}

article button {
	background: var(--bg-code);
	font-family: inherit;
	font-size: inherit;
}

article a {
	font-weight: 800;
	color: var(--p-link);
	text-decoration: underline dotted;
}

article a:hover {
	color: var(--p-link-hover);
	text-decoration: underline;
}

article em {
	font-weight: 600;
	color: var(--color-em);
	text-shadow: 0 0 1px var(--color-em-shadow);
	font-style: normal;
}

article del {
	color: var(--color-inactive);
	text-decoration: none;
}

article table {
	border-collapse: separate;
	border-spacing: 4ch 0;
	margin: 1rem 0;
}

article th {
	color: var(--color-em)
}

article th, article td {
	border: 0;
	padding: 0;
}

article table img {
	vertical-align: middle;
}

article .avatar {
	width: 2.5ch;
	border: 1px solid var(--line);
}

article .user {
	color: var(--color-secondary);
	font-weight: 800;
}

.output {
	flex: 1;
}

.output h4 {
	margin: 0 0 0.25rem 0;
}

.answer {
	padding-top: 0.6rem;
	border-top: 1px dashed var(--line);
	margin: 1rem 0;
}

div.answer {
	padding-bottom: 1rem;
}

div.answer:last-child {
	padding-bottom: 0;
}

.answer input, .answer button {
	color: inherit;
	background: var(--bg-btn);
	padding: 0.4rem;
	border: 1px solid var(--line);
}

@media (max-width:700px) {
	html {
		font-size: 0.7rem;
	}
}

@media (max-width:1200px) {
	.content {
		flex-direction: column;
	}
	article {
		max-width: none;
	}
	article h1 {
		overflow-wrap: break-word;
	}
	.leftmenu {
		order: 1;
		position: static;
		width: 100%;
		border-left: none;
		padding-top: 0.5rem;
		padding-left: 0;
		max-height: none;
		overflow: visible;
	}
	.leftmenu li > a, .leftmenu li > span {
		min-width: 0;
	}
	.center {
		flex: none;
	}
}

@media (max-height:600px) {
	.leftmenu {
		position: static;
		max-height: none;
	}
}
