<!doctype html>
<html lang="en" {{- if .Dark }} class="dark" {{- end }}>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{{ versioned "/favicon.ico" $.ETags }}
	<title>{{ if $.Title }}{{ $.Title }} | {{ end }}{{ $.Name }} :: {{ $.Event.Name | spreadQDots }}</title>
	<link rel="preload" href="/JetBrainsMono-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin>
	<link rel="preload" href="/JetBrainsMono-Italic-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin>
	{{ versioned "/fonts.css" $.ETags }}
	{{ versioned "/style.css" $.ETags }}
	{{ versioned "/script.js" $.ETags "defer" "async" }}
	{{- if and .User .User.Admin }}
	{{ versioned "/admin.js" $.ETags "defer" "async" }}
	{{- end }}
</head>

{{- $return := $.Request.URL.Query.Get "return" | default $.Request.URL.Path | trimPrefix "/" }}
{{- if $return | eq "login" }}{{ $return = "" }}{{ end }}
{{- if $return | eq "login/fail" }}{{ $return = "" }}{{ end }}
{{- if $return | eq "profile" }}{{ $return = "" }}{{ end }}

<body>
	<div class="page">
		<header class="topbar">
			<div class="brand"><a href="/{{ $.Event.Path }}" class="brand-link"><span class="secondary-color">{</span>::<span class="secondary-color">}</span> {{ $.Name }}</a></div>
			<nav class="topnav">
				<a href="/{{ $.Event.Path }}">Home</a>
				<!--<a href="/{{ $.Event.Path }}/events">Events</a>-->
				<a href="/{{ $.Event.Path }}/rules">Rules</a>
				<a href="/{{ $.Event.Path }}/leaderboard">Leaderboard</a>
				<a href="/{{ $.Event.Path }}/contact">Contact</a>
				{{- if and .User .User.Admin }}
				<a href="/{{ $.Event.Path }}/admin">Admin</a>
				{{- end }}
				{{- if .User }}
				<a href="/{{ $.Event.Path }}/profile{{ if $return }}?return={{ $return }}{{ end }}" class="profile"><img src="{{ .User.Avatar }}" alt="{{ .User.Name }} avatar" class="avatar"><span {{- if gt (.User.Name | len) 32 }} title="{{ .User.Name }}" {{- end }}>{{ .User.Name | abbrev 32 | cleanUTF }}</span></a>
				{{- else }}
				<a href="/{{ $.Event.Path }}/login/discord{{ if $return }}?return={{ $return }}{{ end }}"><i class="discord icon"></i>Log in</a>
				{{- end }}
				<label class="dark-switch" title="Toggle dark mode">
					<input id="darkmode-toggle" type="checkbox" aria-label="Toggle dark mode" {{- if .Dark }} checked{{ end }}>
					<span class="switch" aria-hidden="true"><span class="icon">{{ choose .Dark "🌙" "☀️" }}</span></span>
				</label>
			</nav>
		</header>

		<main class="content">
			<aside class="leftmenu">
				<h1>
					{{- $seg := splitList "::" $.Event.Name }}
					{{- range $i, $_ := $seg }}
					{{- if $i }}::{{ end }}
					{{- if or $i (eq (len $seg) 1) }}<span class="secondary-color">{{ . }}</span>
					{{- else }}{{ . }}{{ end }}
					{{- end -}}
				</h1>
				<ul>
					{{- range .Puzzles }}
					{{- $tag := choose .Locked "span" "a" }}
					<li class="{{ puzzleClass . }}{{ if eq .Path $.Puzzle.Path }} active{{ end }}">
						{{ openTag $tag }} href="/{{ $.Event.Path }}/puzzle/{{ .Path }}">
						<span class="puzzle-label">{{ .Name }}</span>
						{{- if .Unlock }}<span class="time hint" data-unlock="{{ .Unlock | rfc3339Time }}" title="{{ .Unlock | humanTime }}">{{ .Unlock | unlockTime }}</span>{{ end }}
						{{- if $.User }}<span class="part hint"><em>{{ .Solved }}</em> / {{ .Total }}</span>{{ end }}
						{{ closeTag $tag }}
					</li>
					{{- end }}
				</ul>
			</aside>

			<section class="center">
				<article>
					{{ .Content }}
				</article>
			</section>
		</main>
	</div>
</body>

</html>
