<!doctype html>
<html lang="en" class="dark">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{{ $.Title }} - Week of Code {{ $.Year }}</title>
	<link rel="stylesheet" href="style.css">
	<script src="script.js" defer async></script>
</head>

<body>
	<div class="page">
		<header class="topbar">
			<div class="brand"><a href="#" class="brand-link">Week of Code</a></div>
			<nav class="topnav">
				<a href="#">Home</a>
				<a href="#">Rules</a>
				<a href="#">Leaderboard</a>
				{{- if .User }}
				<a href="#" class="profile"><img src="{{ .User.Avatar }}" alt="avatar"><span>{{ .User.Name }}</span></a>
				{{- else }}
				<a href="#">Log in</a>
				{{- end }}
				<label class="dark-switch" title="Toggle dark mode">
					<input id="darkmode-toggle" type="checkbox" aria-label="Toggle dark mode">
					<span class="switch" aria-hidden="true"><span class="icon"></span></span>
				</label>
			</nav>
		</header>

		<main class="content">
			<aside class="leftmenu">
				<ul>
					{{- range $idx, $_ := .Puzzles }}
					<li class="{{ .Class }}{{ if $idx | add 1 | eq $.Puzzle }} active{{ end }}"><a href="/{{ $.Year }}/{{ $idx | add 1 }}"><span class="puzzle-label">{{ .Name }}</span><span class="hint" {{- if .Unlock }} data-unlock="{{ .Unlock | rfc3339Time }}" {{- end }}></span></a></li>
					{{- end }}
				</ul>
			</aside>

			<section class="center">
				<article>
					{{- range $idx, $_ := .Content.Parts }}
					{{- .MD | renderMD }}
					{{- if .Answer }}
					<div class="answer">Your answer was <code>{{ .Answer }}</code>.</div>
					{{- else if .WantAnswer }}
					{{- if $.User }}
					<form class="answer" action="/{{ $.Year }}/{{ $.Puzzle }}/answer" method="post">
						<p><a href="/{{ $.Year }}/{{ $.Puzzle }}/input" download>Download your input</a>.</p>
						<input type="hidden" name="part" value="{{ $idx }}">
						<label>Answer (part {{ $idx | add 1 }}):
							<input name="answer" autocomplete="off">
						</label>
						<button type="submit">Submit</button>
					</form>
					{{- else }}
					<div class="answer">You must log in to submit an answer.</div>
					{{- end }}
					{{- end }}
					{{- end }}
				</article>
			</section>
		</main>
	</div>
</body>

</html>
