<!doctype html>
<html lang="en" {{- if .Dark }} class="dark" {{- end }}>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="/favicon.ico">
	<title>{{ if $.Title }}{{ $.Title }} | {{ end }}{{ $.Name }} :: {{ $.Event.Name }}</title>
	<link rel="preload" href="/fonts.css" as="style">
	<link rel="preload" href="/JetBrainsMono-VariableFont_wght.ttf" as="font">
	<link rel="preload" href="/JetBrainsMono-Italic-VariableFont_wght.ttf" as="font">
	<link rel="stylesheet" href="/fonts.css">
	<link rel="stylesheet" href="/style.css">
	<script src="/script.js" defer async></script>
	{{- if and .User .User.Admin ($.Request.URL.Path | hasPrefix "/admin") }}
	<script src="/admin.js" defer async></script>
	{{- end }}
</head>

{{- $return := $.Request.URL.Query.Get "return" | default $.Request.URL.Path | trimPrefix "/" }}
{{- if $return | eq "login" }}{{ $return = "" }}{{ end }}
{{- if $return | eq "login/fail" }}{{ $return = "" }}{{ end }}
{{- if $return | eq "profile" }}{{ $return = "" }}{{ end }}

<body>
	<div class="page">
		<header class="topbar">
			<div class="brand"><a href="/{{ $.Event.Path }}" class="brand-link"><span class="secondary-color">{</span>::<span class="secondary-color">}</span> {{ $.Name }}</a></div>
			<nav class="topnav">
				<a href="/{{ $.Event.Path }}">Home</a>
				<!--<a href="/{{ $.Event.Path }}/events">Events</a>-->
				<a href="/{{ $.Event.Path }}/rules">Rules</a>
				<a href="/{{ $.Event.Path }}/leaderboard">Leaderboard</a>
				<a href="/{{ $.Event.Path }}/contact">Contact</a>
				{{- if and .User .User.Admin }}
				<a href="/{{ $.Event.Path }}/admin">Admin</a>
				{{- end }}
				{{- if .User }}
				<a href="/{{ $.Event.Path }}/profile{{ if $return }}?return={{ $return }}{{ end }}" class="profile"><img src="{{ .User.Avatar }}" alt="{{ .User.Name }} avatar"><span>{{ .User.Name }}</span></a>
				{{- else }}
				<a href="/{{ $.Event.Path }}/login{{ if $return }}?return={{ $return }}{{ end }}">Log in</a>
				{{- end }}
				<label class="dark-switch" title="Toggle dark mode">
					<input id="darkmode-toggle" type="checkbox" aria-label="Toggle dark mode" {{- if .Dark }} checked{{ end }}>
					<span class="switch" aria-hidden="true"><span class="icon">{{ choose .Dark "🌙" "☀️" }}</span></span>
				</label>
			</nav>
		</header>

		<main class="content">
			<aside class="leftmenu">
				<h1 class="secondary-color">{{ $.Event.Name }}</h1>
				<ul>
					{{- range .Puzzles }}
					{{- $tag := choose .Locked "span" "a" }}
					<li class="{{ puzzleClass . }}{{ if eq .Path $.Puzzle.Path }} active{{ end }}">
						{{ opentag $tag }} href="/{{ $.Event.Path }}/puzzle/{{ .Path }}">
						<span class="puzzle-label">{{ .Name }}</span>
						{{- if .Unlock }}<span class="time hint" data-unlock="{{ .Unlock | rfc3339Time }}" title="{{ .Unlock | humanTime }}"></span>{{ end }}
						{{- if $.User }}<span class="part hint"><em>{{ .Solved }}</em> / {{ .Total }}</span>{{ end }}
						{{ closetag $tag }}
					</li>
					{{- end }}
				</ul>
			</aside>

			<section class="center">
				<article>
					{{- range $idx, $_ := .Content.Parts }}
					{{- .MD | renderMD }}
					{{- if .WantAnswer }}
					{{- if .Answer }}
					<div class="answer">
						<p>Your answer was <code>{{ .Answer }}</code>.</p>
						<p>You can still <a href="/{{ $.Event.Path }}/puzzle/{{ $.Puzzle.Path }}/input" download="{{ $.Event.Path }}.{{ $.Puzzle.Path }}.input.txt">download your input</a>.</p>
						{{- if and $.Puzzle.Finished (ge $idx (sub (len $.Content.Parts) 1)) }}
						<p><em>All parts of this puzzle are solved.</em></p>
						<ul>
							<li>Return to the <a href="/{{ $.Event.Path }}">homepage</a></li>
							<li>Visit the <a href="/{{ $.Event.Path }}/latest">latest puzzle</a></li>
							<li>Explore other puzzles</li>
							<li>Take a break and come back later :)</li>
						</ul>
						{{- end }}
					</div>
					{{- else if $.User }}
					<form id="{{ .Anchor }}-answer" class="answer" action="/{{ $.Event.Path }}/puzzle/{{ $.Puzzle.Path }}/answer" method="post">
						{{- if $idx }}
						<p>If you lost your input, you can <a href="/{{ $.Event.Path }}/puzzle/{{ $.Puzzle.Path }}/input" download="{{ $.Event.Path }}.{{ $.Puzzle.Path }}.input.txt">download it again</a>.</p>
						{{- else }}
						<p><a href="/{{ $.Event.Path }}/puzzle/{{ $.Puzzle.Path }}/input" download="{{ $.Event.Path }}.{{ $.Puzzle.Path }}.input.txt">Download your input</a> for this puzzle.</p>
						{{- end }}
						<input type="hidden" name="part" value="{{ $idx }}">
						<label>Answer (part {{ $idx | add 1 }}):
							{{- $answer := $.Request.URL.Query.Get "a" }}
							<input name="answer" autocomplete="off" {{- if $answer }} value="{{ $answer }}" {{- end }}>
						</label>
						<button type="submit">Submit</button>
					</form>
					{{- else }}
					<div class="answer">
						<p>You must <a href="/{{ $.Event.Path }}/login{{ if $return }}?return={{ $return }}{{ end }}">log in</a> to submit an answer.</p>
					</div>
					{{- end }}
					{{- end }}
					{{- end }}
				</article>
			</section>
		</main>
	</div>
</body>

</html>
